<!-- %- partial('_partial/ayer') %> -->
<!-- <div id="main"> -->

<!-- </div> -->


<section class="cover">
<div class="cover-frame">
  <div class="cover-inner text-center text-white">
    <div>
      <a href="<%- url_for(theme.banner.goto) %>">
        <img src="<%- theme.banner.img %>" class="cover-logo" alt="<%= config.title %>">
      </a>
    </div>
  </div>
</div>
</section>
